{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="container">
  <img class="background-image" src="/images/cinema.jpg"  alt="movie theater" />
  <h1>Cinema Ironhack</h1>
  <button class="button">Check the movies</button>

</div>

